<div class="col-sm-6">
    <form action="/signup" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>

        <input type="submit" value="Signup" class="btn btn-sm btn-info"/>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>
