<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>

    <body>
        
       Employee Created Successfully
       <%= employee.first_name %>
       <%= employee.last_name %>
    </body>
</html>