<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>

    <body>
        
        <form action="/create" method="post">
            First Name : <input type="text" name="first_name" />
            Last Name : <input type="text" name="last_name" />

            <input type="submit" value="Create Employee" />
        </form>
    </body>
</html>