Are you sure you want to delete employee with id <%= employeeId %>
<form action="/peeps/<%=employeeId%>/delete" method="post">
    <input type="submit" class="btn btn-sm btn-danger" value="Yes, Confirm Delete" />
</form>