<h3>
    Peep Details
</h3>

Emp No : <%= peep.emp_no %>
<br>
First Name : <%= peep.first_name %>
<br>
Last Name : <%= peep.last_name %>
<br>
<a href="/peeps/<%=peep.id%>/edit" class="btn btn-sm btn-success">Edit</a>